/* FONTS */

@font-face {
  font-family: Roslindale;
  src: url(https://d1ih3jzbl9wgdj.cloudfront.net/hosted/2/public_uploads/0a5d83ef-8313-47a0-8e5f-56f04bbe0670.ttf);
}

a h2:hover {
	cursor: default;
}

a:hover h4 {
	color: #DAABE4;
}

a:hover h3 {
	color: #DAABE4;
}

a {
	text-decoration: none;
	color: #FFE230;
}

a:hover {
	cursor: pointer;
	color: #DAABE4;
}

h1 {
	font-family: "Roslindale", serif;
	text-align: center;
	font-size: 48px;
	color: #fff;
	margin: 0 0 14px 0;
	padding: 60px 0 0 0;
	font-weight: 400;
	letter-spacing: 1px;
}

h2 {
	margin: 0 auto 60px auto;
	font-family: "VenusSB-Medium", sans-serif;
	text-align: center;
	font-weight: 600;
	font-size: 22px;
	color: #DAABE4;
	text-transform: uppercase;
}

h3 {
	font-family: "Roslindale", serif;
	text-align: left;
	font-weight: 300;
	font-size: 30px;
	color: #FFE230;
	margin: 10px 0 0 0;
	line-height: 120%;
	letter-spacing: .5px;
}

h4 {
	font-family: "Roslindale", serif;
	font-weight: 500;
	font-size: 58px;
	color: #fff;
	text-align: left;
	margin: 40px 0 20px 0;
	line-height: 100%;
}

h5 {
	font-family: "Roslindale", serif;
	text-align: center;
	font-size: 18px;
	color: #fff;
	margin: 0 0 40px 0;
	padding-top: 40px;
	font-weight: 100;
}

h5:hover {
	color: #FFE230;
}

h6 {
	font-family: "Roslindale", serif;
	text-align: center;
	font-weight: 300;
	font-size: 58px;
	color: #fff;
	margin: 0 auto;
	max-width: 600px;
	line-height: 110%;
	letter-spacing: .5px;
}

p {
	font-family: "VenusSB-Medium", sans-serif;
	text-decoration: none;
	font-size: 15px;
	line-height: 100%;
	color: #fff;
	font-weight: 400;
	letter-spacing: .2px;
	opacity: .8;
}

/* STYLES */

body {
  background-color: #000;
}

.before {
	padding-bottom: 40px;
}

.box h3 {
	font-size: 60px;
	line-height: 110%;
}

.box .tags {
	font-size: 20px;
}

.box-overlap h3 {
	font-size: 60px;
	margin: -35px 0 0 35px;
	line-height: 110%;
	text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
	transform: translateZ(0);
}

.box-overlap .tags {
	margin-left: 35px;
	font-size: 20px;
}

.center {
	text-align: center !important;
}

.clear {
	clear: both;
}

.container {
	margin: 0 auto;
	overflow: visible;
	padding: 60px 5% 100px;
}

.company-name {
	opacity: 1;
	font-size: 18px;
	margin-bottom: 0;
}

.dark {
	background-color: #0F141B;
}

.desc h2 {
	margin-bottom: 30px;
}

.desc h6 {
	font-weight: 300;
	font-size: 38px;
}

.desc-container {
	overflow: hidden;
	text-align: center;
	background-color: #0F141B;
}

.desc {
	max-width: 580px;
	margin: 0 auto;
	padding: 80px 0 70px 0;
}

.desc-container h6 {
	color: #fff;
	font-size: 50px;
	margin-bottom: 20px;
}

.desc-container p {
	font-size: 18px;
	margin: 10px auto 0 auto;
	color: #fff;
	text-align: left;
	line-height: 140%;
	opacity: .8;
}

.desc-container img {
	max-width: 580px;
	width: 90%;
	margin: 20px auto 40px auto;
}

#featured-container {
	max-width: 1200px;
	width: 90%;
	margin: 64px auto 20px auto;
	overflow: hidden;
}

.featured-p {
	color: #fff;
	text-align: left;
}

.first-container {
	margin: 0 auto;
	overflow: visible;
	padding: 30px 5% 100px;
}

.first-section {
	margin-top: 60px;
}

#footer {
    font-family: "Roslindale", serif;
    font-size: 30px;
    z-index: 100;
    font-weight: 300;
    padding: 80px 0 80px 0;
    background-color: #0F141B;
    letter-spacing: .5px;
}

#footer a:hover {
	text-decoration: none;
}

#footer li {
	margin: 0 20px;
}

.featured-item {
	max-width: 400px;
	margin-left: 40px;
}

.featured-img {
	max-width: 700px;
}

.featured-img img {
	width: calc(100% - 50px);
}

.half-img {
	max-width: 400px;
}

.half-img img {
	width: calc(100% - 40px);
}

.half-item {
	max-width: 420px;
}

.half-row {
	margin: 40px auto 40px auto;
	justify-content: center;
}

#header {
	width: 100%;
	text-align: center;
	margin: 0 auto 40px;
	padding: 0;
}

.head-p {
	text-align: center;
	color: #fff;
	font-size: 16px;
	max-width: 600px;
	margin: 20px auto 0 auto;
}

#home {
	align-self: flex-start;
	font-family: "Roslindale", serif;
}

iframe {
	margin-bottom: 4px;
}

.image-container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.image-bg-blue {
	padding: 60px 0 60px 0;
}

.image-bg-about {
	padding: 0 5%;
	margin-top: 20px;
}

.image-bg-about .desc-container {
	background-color: transparent;
}

.image-bg {
	padding: 0 0 60px 0;
}

.item {
	margin-left: 50px;
}

.item .box * {
	width: calc (110%-50px);
}

.item img {
	transition: all .6s ease;
}

.item h3 {
	transition: all .3s ease;
	color: #fff;
	font-size: 32px;
}

.item p {
	font-size: 15px;
}

.item .tags {
	color: #DAABE4;
	font-size: 16px;
}

.item:hover img {
	margin-top: 0px;
}

.item:hover {
	z-index: 20;
}

.item:hover h3 {
	margin-top: 5px;
}

.item-overlap .box-overlap * {
	width: 110%;
}

.item-overlap img {
	transition: all .5s ease;
}

.item-overlap h3 {
	transition: all .4s ease;
}

.item-overlap:hover img {
	box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.6);
	transform: translateY(-10px);
}

.item-overlap:hover {
	z-index: 20;
}

.item-overlap:hover h3 {
	transform: translateY(-15px);
}

.item-overlap:hover p {
	transform: translateY(-15px);
}

.item-overlap p {
	transition: transform .5s ease;
}

.interior-site {
	margin: 0 auto 30px auto;
	font-size: 24px;
	color: #FFE230;
	letter-spacing: .5px;
	font-weight: 300;
}

.interior-header a:hover {
	text-decoration: none;
}

.interior-header a:hover .interior-site {
	color: #DAABE4;
}

.interior-white {
	color: #fff;
}

.interior-header .container {
	padding-top: 0;
}

.logos img {
	width: 100%;
	max-width: 600px;
	margin: 50px auto 80px auto;
	text-align: center;
	display: flex;
}

.logos iframe {
	width: 100%;
	margin: 0 auto 100px auto;
	text-align: center;
	display: flex;
	max-width: 1000px;
	height: 800px;
}

.move-middle {
	z-index: 5;
}

.move-middle img{
	margin-top: 30px;
	box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.6);
}

.move-up {
	z-index: 10;
}

.move-up img {
	box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.6);
}

#music-container .half-img {
	max-width: 500px;
}

#music-container .half-item {
	margin-left: 50px;
}

#music-container .half-row {
	justify-content: left;
}

#music-container h3 {
	font-size: 40px;
}

#nav {
  font-family: "Roslindale", serif;
  font-size: 18px;
  z-index: 100;
  font-weight: 300;
  letter-spacing: .5px;
}

#nav a:hover {
	text-decoration: none;
}

.process-container .tags {
	color: #DAABE4;
}

.process-container h3 {
	color: #fff;
}

.process-container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 60px 0 40px 0;
}

.page-p {
	text-align: center;
	color: #fff;
	font-size: 15px;
	max-width: 500px;
	margin: 10px auto 0 auto;
}

.pink {
	color: #DAABE4;
}

.page-header {
	text-align: center;
}

.page-img {
	justify-content: center;
	text-align: center;
	max-width: 800px;
	align-items: center;
	margin: 0 auto;
}

.page-img img {
	width: 100%;
	max-width: 1000px;
	margin: 40px auto 0 auto;
}

.page-img h2 {
	margin-bottom: 0;
}

.page-img video {
	width: 100%;
	max-width: 1,000px;
	margin: 30px auto 0 auto;
}

.page-img iframe {
	margin-bottom: 100px;
}

#overall-process p {
	line-height: 100%;
	margin: 10px 0;
	font-size: 16px;
}

#overall-process .half-row{
	margin-top: 60px;
	margin-left: 15%;
	justify-content: left;
}

#overall-process h3 {
	font-size: 36px;
	line-height: 110%;
	color: #fff;
}

#overall-process h6 {
	color: #fff;
	font-size: 50px;
	font-weight: 300;
}

#overall-process .tags {
  color: #DAABE4;
}

.row .item {
	display: inline;
	width: calc(100% - 50px);
}

.row .item-overlap {
	display: inline;
	width: calc(100% - 50px);
}

.row {
	width: 95%;
	margin-bottom: -2px;
	display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#site-logo {
	margin: 40px auto 10px auto;
	max-width: 240px;
}

.special_img {
	max-width: 538px;
}

.section {
	margin: 140px 0 0 0;
}

.tags {
	margin-top: 6px;
	text-align: left;
}

ul {
	list-style: none;
  margin: 0;
  padding: 0;
  color: #FFE230;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
	margin: 0 14px;
}

#work-history {
	padding: 30px 0;
}

#work-history h6 {
	font-size: 50px;
}

#work-history h2 {
	color: #181E26;
}

/* BRAND COLORS */

.onedegreebrand {
	background-color: #834498;
}

.onedegreebrand .page-img img {
	max-width: 800px;
}

.coyote .page-img img {
	max-width: 600px;
}

.onedegree .page-img video {
	margin: 40px auto 0;
}

.fanbridge {
	background-color: #942e34;
}

.fanbridge h6 {
	color: #fff;
}

.fanbridge p {
	color: #fff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
	h4 {
		font-size: 34px;
	}
}

@media screen and (max-width: 720px) {

	body {
		margin: 0;
		background-position: center top 300px;
	}

	br {
		line-height: 120%;
	}

	.first-container {
		padding-top: 0;
	}

	.first-section {
		margin-top: 0;
	}

	.desc-container {
		padding: 40px 5% 40px;
	}

	.desc {
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.desc-container h6 {
		font-size: 40px;
	}

	#footer {
		font-size: 18px;
		padding: 50px 0 50px 0;;
	}

	#footer li {
	margin: 0 14px;
	}

	.featured-img img {
		margin-top: 0;
	}

	#featured-container {
		margin-top: 30px;
	}

	.featured-item {
		margin: 0;
	}

	h1 {
		font-size: 50px;
		padding: 120px 0 0 0;
	}

	h2 {
		font-size: 18px;
		margin-bottom: 0;
	}

	h3 {
		margin-top: 10px;
	}

	h4 {
		margin: 20px 0 0 0;
		font-size: 30px;
	}

	h5 {
		font-size: 16px;
		margin-bottom: 20px;
	}

	h6 {
		font-size: 30px;
	}

	.header-black {
		font-size: 26px;
	}

	.half-row {
		margin: 20px auto;
	}

	.item {
		margin-left: 0;
		margin-top: 20px;
	}

	.item h3 {
		font-size: 30px;
	}

	.interior-site {
		font-size: 20px;
		padding-top: 20px;
		margin-bottom: 20px;
	}

	.image-bg-blue {
		padding: 20px 0 30px 0;
	}

	.image-bg {
		padding: 20px 0 30px 0;
	}

	.item .box * {
		width: 100%;
	}

	.item-overlap .box-overlap {
		width: 100%;
	}

	.item-overlap h3 {
		font-size: 50px;
	}

	.logos iframe {
	margin: 0 auto 100px auto;
	height: 400px;
	}

	.onedegree .page-img video {
    	margin: 10px auto;
	}

	#overall-process .half-row{
		margin-left: 0;
		margin-top: 15px;
	}

	p {
		margin: 10px auto;
	}

	.page-img img {
		margin-top: 20px;
	}

	.process-container .tags {
		margin-top: 15px;
	}

	.row {
		flex-direction: column;
	}

	.row .item {
		width: 100%;
	}

	#portraits .row {
		width: 100%;
	}

	#header {
		padding: 0 0 30px 0;
	}

	#nav {
		font-size: 14px;
		padding: 0 15px;
	}

	#portraits .row .item-overlap {
		width: 100%;
	}

	#portraits .item-overlap .box-overlap * {
		width: 100%;
	}

	#portraits .row .item {
		width: 100%;
	}

	.row img {
		width: 100%;
		margin-top: 20px;
	}

	.row .item-overlap.mobile-hide {
		display: none;
	}

	.section {
		margin-top: 50px;
	}

	.about #social-about .social-item {
		width: 50%;
	}

	.about #social-about .social-item img {
		max-width: 40px;
	}

	.about #social-about {
		flex-wrap: wrap;
	}

	.tags {
		margin-top: 10px;
	}
}
